@import "tailwindcss";

@theme {
  /* Custom color paltette */
  --color-primary-accent: hsl(179, 81%, 29%);
  --color-secondary-accent: hsl(25, 94%, 86%);
  --color-neutral-900: hsl(215, 19%, 25%);
  --color-neutral-500: hsl(215, 5%, 54%);
  --color-neutral-200: hsl(45, 80%, 98%);

  /* Font sizes */
  --text-title: 9.375rem;
  --text-title--line-height: 4.5rem;

  --text-h1: 4.5rem;
  --text-h1--line-height: 4.5rem;

  --text-h2: 2.5rem;
  --text-h2--line-height: 3rem;

  --text-h3: 2rem;
  --text-h3--line-height: 2.25rem;

  --text-h4: 1.5rem;
  --text-h4--line-height: 2rem;

  --text-nav: 0.75rem;
  --text-nav--line-height: 0.9375rem;
  --text-nav--font-family: "Barlow", sans-serif;
  --text-nav--font-weight: 700;

  --font-heading: "Fraunces", serif;
}

body {
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: var(--color-neutral-200);
}
